.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.box {
  width: 250px;
  height: 250px;
}
