@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  color: hsl(229, 23%, 23%);
}

body {
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -10% 30%, 120% -40%;
  background-size: 50%, 60%;
  background-color: hsl(185, 75%, 39%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 25%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 100% 40%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  gap: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 15px;
  margin-top: 80px;
}

.top h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top h1 span {
  opacity: 0.5;
  font-weight: 400;
}

.top p {
  opacity: 0.5;
  font-weight: 400;
}

.top img {
  border-radius: 50%;
  border: 5px solid #fff;
}

.bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #ccc;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card h1 {
  font-size: 18px;
}

.card span {
  font-size: 12px;
  opacity: 0.5;
  letter-spacing: 2px;
}
