@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  width: 45%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  box-shadow: 3px 15px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* ------------------------------------------------------------------------------------- */

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  height: 100%;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.left h1 {
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.circle h1 {
  all: unset;
  font-size: 3.5rem;
  font-weight: 700;
}

.circle p {
  opacity: 0.5;
  font-size: 12px;
}

.left p {
  line-height: 1.3rem;
  opacity: 0.5;
  width: 85%;
  text-align: center;
}

.circle {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

/* -------------------------------------------------------- */
.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.right h1 {
  font-size: 20px;
  margin-bottom: 15px;
  color: hsl(224, 30%, 27%);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 15px;
  border-radius: 8px;
  height: 45px;
}

.card h1 {
  font-size: 14px;
  margin: 0 10px;
}

.card p {
  margin-left: auto;
  opacity: 0.5;
}

.span {
  opacity: 1;
  font-weight: 700;
  margin-right: 3px;
}

.bg1 {
  background-color: #ff575712;
}
.bg1 h1 {
  color: #ff5757;
}

.bg2 {
  background-color: #ffb01f12;
}
.bg2 h1 {
  color: #ffb01f;
}

.bg3 {
  background-color: #00bd9112;
}
.bg3 h1 {
  color: #00bd91;
}

.bg4 {
  background-color: #1125d412;
}
.bg4 h1 {
  color: #1125d4;
}

.right button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: hsl(224, 30%, 27%);
  color: #fff;
  margin-top: 15px;
}
